
.addbtn {
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    background: #e53935;
    border: none;
    margin-right: 2%;
    margin-left: 4%;
    flex: 0 0 33%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.addbtns {
   display:flex;
   justify-content:space-around;
   margin-top: 10px;
}

.addtest:hover {
    background: #e57373;
}

.popup {
    display: flex;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    align-items: center;
    flex-direction: column;
    width: 120%;
    left: 0;
    top: 100%;
    text-align: left;
    height: 450%;
    z-index: 1;
    border: 1px solid #e53935;
}

.postText {
    flex: 0 0 50%;
    width: 90%;
    resize: none;
    border: 1px solid #e53935;
}

.popupFooter {
    align-self: flex-end;
    color: black;
    margin: 5% 4% 0 0;
}

.small {
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    background: #e53935;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: none;
}

.appBody {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 700px)  {
    .addbtns {
        order: 2;
        flex-direction: column;
        flex: 0 0 30%;
        height: 10%;
    }
    .appBody {
        flex-direction: row;
    }
    .topics {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
    }
}