html, body{
    margin:0;
    padding:0;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #e53935;
    align-items: center;
    flex-wrap: wrap;
}

.navMenu {
    display: flex;
    justify-content: space-around;
    flex: 0 0 100%;
    flex-direction: column
}

.btn {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    flex: 1;
    text-align: center;
  }
  
.home:hover,
  .btn:hover {
    background: #e57373;
    text-decoration: none;
}

.home {
    flex: 5;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top:hover > .dropdown {
    display: flex;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 100%;
    text-align: left;
    z-index: 1;
}

.item {
    color: black;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}

.item:hover {
    background-color: #ffcdd2
}

.menubtn {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menubtncont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1
}

.menubtncont:hover {
    background: #e57373;
}

.homecont {
    display:flex;
    justify-content:space-between;
    flex: 0 0 100%;
}

@media only screen and (min-width: 700px)  {
    .navMenu{
        display: flex;
        flex: 1;
        flex-direction: row
    }
    .homecont {
        flex: 2;
    }
    .menubtncont {
        display: none
    }
}