.topic {
    display: flex;
    flex: 1;
    margin-top: 20px;
    align-items: center;
}

.vote {
    display: flex;
    flex-direction: column;
    font-size: 42;
    color: #e53935;
    align-items: center;
    flex: 1
}

.votebtn {
    border: none;
    background: none;
    color: #e53935;
}

.topicbody {
    display: flex;
    background-color: white;
    border: 1px solid #e53935;
    flex-direction: column;
    border-radius: 5px;
    margin-right: 2%;
    flex: 13;
    padding: 10px;
    width: 80%;
    word-wrap:break-word;
    justify-content: space-between
}